


  <section class="container">
    <div class="login" >

      <h1>Login to Newable</h1>
      <form   method="post" action="index.html" ng-controller="RegisterUser">
        <p><input type="text" ng-model="email" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" ng-model="password" name="password" value="" placeholder="Password"></p>

      </form>
      <dev ng-controller="submitUser">
        <p class="submit"  ><button ng-click="submit()">Register</button> ></p>
      </dev>

    </div>


  </section>


