
<div class="login" >

      <h1>Register to Newable</h1>
      <form   method="post" action="index.html" >
        <p><input type="text" ng-model="email" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" ng-model="password" name="password" value="" placeholder="Password"></p>

      </form>
      <dev >
        <p class="submit"  ><button ng-click="submit()">Register</button> ></p>
      </dev>
    <p>
        The response is: {{ message }}
    </p>
    </div>
